<!doctype html>
<html lang="en">
    <head>
        <script src="https://unpkg.com/vue@next"></script>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8"/>
        <title>Todo</title>
    </head>
    <body>


        <div id="components-app" class="demo" >
            <div id="appBg" :class="{normal_bg: true, blinker_bg: blinkerOn}" > <!-- :style="{ backgroundColor: bgColor}"  -->
                
            <div v-if="!editing">
                <div class="header"><h1 class="big" @click="enableEditing">{{heading}}</h1>&nbsp;&nbsp;<span>[</span><span @click="clear" class="clickable">Clear list</span><span>, &nbsp;</span><span class="clickable" @click="timingToggle">{{timeText}}</span>]</span></div>
            </div>
            <div v-if="editing">
                <input autocomplete="off" v-model="heading" class="big line"
                       @keyup.enter="enableEditing"
                       @keyup.esc="enableEditing"
                />
                <!-- <button @click="disableEditing"> Cancel </button>
                     <button @click="saveEdit"> Save </button> -->
            </div>
            <transition-group name="list-complete" tag="ol">
                <todo-item
                    v-for="(item, index) in todoList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
                    @remove="todoList.splice(index, 1)"
                    @done="item.done = !item.done;"
                    :class="{ crossed: item.done, timed:item.timed }"
                    @promote="promote(index)"
                    @demote="demote(index)"
                    @set-time-toggle="setTimeToggle"
                    :first="index > 0"
                    :last="index != todoList.length - 1"
                    :index="index"
                    :timed="index == firstUnchecked && timingOn"
                    :timespent="item.counter > 0"
                    :settime="setTime"
                    class="list-complete-item"
                    @change-time="changeTime()"
                    :hastime="item.minutes + item.seconds > 0 && item.timeset > 0"
                    :overdue="item.timeset > 0 && item.minutes >= item.timeset && index == firstUnchecked"
                ></todo-item>
                <li v-bind:key="0">
                    <form v-on:submit.prevent="add">
                        <input
                            @keyup.enter="add(false)"
                            autocomplete="off"
                            v-model="newTodoText"
                            id="new-todo"
                            ref="newTodo"
                            class="small line"
                        />
                        <span style="margin-right:15px"></span>
                        <input
                            @keyup.enter="add(true)"
                            autocomplete="off"
                            v-model="newTodoTime"
                            id="new-todo-time"
                            class="small line"
                            size="1"
                        />
                        <span>:00</span>
                    </form>
                </li>
            </transition-group>
            <!-- <pre>{{todoList}}</pre> -->
            
            <div v-if="allChecked"><img alt="" src="pics/fireworks.gif"/></div>

            </div>
        </div>

        <script>

         
         function array_move(arr, old_index, new_index) {
             if (new_index >= arr.length) {
                 var k = new_index - arr.length + 1;
                 while (k--) {
                     arr.push(undefined);
                 }
             }
             arr.splice(new_index, 0, arr.splice(old_index, 1)[0]);
         };

         function get_max(arr, prop) {
             if(arr.length < 1) {
                 return 1;
	     } else {
  	         var max;
    	         for (var i=0 ; i<arr.length ; i++) {
      	             if (!max || parseInt(arr[i][prop]) > parseInt(max[prop]))
        	         max = arr[i];
   	         }	
    	         return max.id + 1;
	     }
         }

         
         
         const ComponentsApp = {
             data() {
                 return {
                     heading: '',
                     editing: false,
                     newTodoText: '',
                     newTodoTime: null,
                     todoList: [],
                     nextTodoId: 0,
                     timingOn: false,
                     setTime: false,
                     timeText: 'time it',
                     blinkerOn: false
                     
                 }
             },
             mounted() {
                 if (localStorage.todoList) {
                     this.todoList = JSON.parse(localStorage.todoList);
                 }
                 if (localStorage.heading) {
                     this.heading = localStorage.heading;
                 } else {
                     this.heading = "TODO";
                 }
                 this.nextTodoId = get_max(this.todoList, "id");
             },
             watch: {
	         todoList: {
                     handler(newTitle) {
		         localStorage.todoList = JSON.stringify(newTitle);
                     },
                     deep: true
	         },
                 firstUncheckedId() {

                     if (typeof this.firstUnchecked !== 'undefined') {
                         if(this.timingOn) {
                             clearInterval(this.t);
                             this.t = setInterval(() => {
                                 this.todoList[this.firstUnchecked].seconds = ++this.todoList[this.firstUnchecked].counter % 60
                                 this.todoList[this.firstUnchecked].minutes = parseInt( this.todoList[this.firstUnchecked].counter / 60, 10) % 60
                                 
                             }, 1000)
                             
                         } else {
                             clearInterval(this.t);
                         }
                     }
                     
                 },
                 timingOn(val) {
                     if (typeof this.firstUnchecked !== 'undefined') {
                         if(this.timingOn) {
                             clearInterval(this.t);
                             this.t = setInterval(() => {
                                 this.todoList[this.firstUnchecked].seconds = ++this.todoList[this.firstUnchecked].counter % 60
                                 this.todoList[this.firstUnchecked].minutes = parseInt( this.todoList[this.firstUnchecked].counter / 60, 10) % 60
                             }, 1000)
                             
                         } else {
                             clearInterval(this.t);
                         }
                     }
                 },
                 editing() {
                     localStorage.heading = this.heading;
                 },
                 timeAlarm() {
                     if (this.timeAlarm)
                     {this.blinkerOn = true} else
                     {this.blinkerOn = false}
                 }
                 
             },
             methods: {
                 add(time) {
                     this.todoList.push({
                         id: this.nextTodoId++,
                         text: this.newTodoText,
                         done: false,
                         timed: false,
                         counter: 0,
                         minutes: 0,
                         seconds: 0,
                         timeset: parseInt(this.newTodoTime > 0 ? this.newTodoTime.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1') : "")
                         
                         
                     })
                     this.newTodoText = '';
                     this.newTodoTime = null;
                     if (time) {this.$refs.newTodo.focus()}
                 },
                 promote (index) {
                     if (index > 0) {
                         array_move(this.todoList, index, index - 1)
                     }
                 },
                 demote (index) {
                     if (index < this.todoList.length - 1) {
                         array_move(this.todoList, index, index + 1)
                     }
                 },
                 clear () {
                     this.todoList = [];
                     this.nextTodoId = 1
                 },
                 enableEditing: function(){
                     //this.tempValue = this.value;
                     this.editing = !this.editing;
                 },
                 timingToggle: function(){
                     this.timingOn = !this.timingOn;
                     if (this.timingOn) {this.timeText = 'pause it' } else
                     {this.timeText = 'time it' }
                 },
                 timingIt: function(index){
                     //this.tempValue = this.value;
                     this.timingOn = !this.timingOn;
                 },
                 setTimeToggle: function(){
                     //this.tempValue = this.value;
                     this.setTime = !this.setTime;                 
                 },
                 changeTime() {
                     console.log("e");
                 }
                 
                 
             },
             computed: {
                 allChecked: function() {
                     return this.todoList.length > 0 && this.todoList.every(e => e.done == true);
                     
                 },
                 firstUnchecked: function() {
                     return this.todoList.findIndex((x) => !x.done);
                 },
                 timeAlarm: function() {
                     var firstUnchecked2 = this.todoList.findIndex((x) => !x.done);
                     var alarm = this.timingOn && this.todoList[firstUnchecked2].minutes >= this.todoList[firstUnchecked2].timeset + 1;
                     return alarm
                         
                 },

                 
                 firstUncheckedId: function() {
                     var firstUnchecked2 = this.todoList.findIndex((x) => !x.done);
                     return this.todoList.length > 0 && firstUnchecked2 >= 0 &&this.todoList[firstUnchecked2].id;
                 }
             }
         }
         
         const app = Vue.createApp(ComponentsApp)
         
         app.component('todo-item', {
             props: ['todo', 'first', 'last', 'index', 'timed', 'timespent', 'settime', 'value', 'hastime', 'overdue'],
             template: `<li>
                 <span @click="$emit('done')">{{ todo.text }}</span>

                 <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                 <span v-if="timespent" :class="{ overdue: overdue, timed: timed}" @click="$emit('set-time-toggle')">{{ String(todo.minutes).padStart(2, '0') }}:{{ String(todo.seconds).padStart(2, '0') }} </span>
                 <span v-if="hastime" :class="{timed: timed}"> / </span>      
                 <input v-if="settime" :value="todo.timeset" class="small line" size="1" type="text" @input="(changeTime($event, index))" @keyup.enter="$emit('set-time-toggle')" @keyup.esc="$emit('set-time-toggle')"/>
                 <span  v-if="!settime && todo.timeset > 0" @click="$emit('set-time-toggle')">{{ String(todo.timeset).padStart(2, '0') }}</span>
                 <span  v-if="todo.timeset" @click="$emit('set-time-toggle')">:00</span>

                 
                 <button class="clickable" @click="$emit('promote')" v-if="first">&#x25B4;</button>
                 <button class="clickable" @click="$emit('demote')" v-if="last">&#x25BE;</button>
                 <button class="clickable" @click="$emit('remove')">&#10006;</button>
                 
                 <span v-if="timed" class="now">&nbsp;&lt;=</span>                 
                 
             </li>
             `,
             methods: {
                 changeTime(e, i) {
                     this.$root.todoList[i].timeset = e.target.value;
                     

                 }
                 
             }
         })

         
         app.mount('#components-app')
        </script>
        
    </body>
</html>
